.love {
    color:#e25555;
}

#flashmsg {
    color: white;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear alternate infinite;
} 

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
}
to {
    stroke-dashoffset: 0;
}
}

#canvas {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-1;
    background: linear-gradient(0deg, rgb(248, 91, 26),
    rgb(255, 215, 193),rgb(213, 216, 10), rgb(229, 153, 130));
    background-size: 600% 600%;
    -webkit-animation: colors 60s ease infinite;
    -moz-animation: colors 60s ease infinite;
    animation: colors 60s ease infinite;
}

.ball {
    max-width: 25%;
    height: auto;
}

.title {
    font-family: 'Kaushan Script', cursive;
}


#button {
		font-size: 1.5em;
		text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
		border: 5px solid transparent;
		border-bottom-color: rgba(0,0,0,0.35);
	}
#button:hover {
		background:rgb(248, 91, 26);
	}

div.container {
    /* animation-duration: 3s; */
    animation-duration: 0s;
}

div.results {
    /* animation-duration: 10s; */
    animation-duration: 0s;
}

div.flashmsg {
    /* animation-duration: 10s; */
    animation-duration: 5s;
}